settings.toml
snippets/

.dockerignore
.docker

# coverage and tests
.coverage
coverage-report.xml
pytest-report.xml

# Frontend
frontend/

# Cache
__pycache__/
.mypy_cache/

# JetBrains
.idea/

# MacOS
.DS_Store
