[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
fastapi = "*"
dynaconf = "*"
uvicorn = "*"
starlette-context = "*"
starsol-fastapi-jwt-auth = {extras = ["asymmetric"], version = "*"}
pydantic = {version = ">=2.0"}
motor = "*"
beanie = "*"
pyparsing = "*"
aiofiles = "*"
python-multipart = "*"
redis = "*"
aiohttp = "*"
celery = "*"

[dev-packages]
bandit = "*"
mypy = "*"
pylint = "*"
ruff = "*"
types-aiofiles = "*"
types-redis = "*"
faker = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
