/* content editable */
.content_editable__root {
    font-size: 15px;
    display: block;
    position: relative;
    outline: 0;
    padding: 0 9.6px;
    min-height: 300px;
}

.autoheight {
    min-height: auto;
}

.content_editable__root p {
    margin: 14.4px 0;
}

.content_editable__placeholder {
    position: absolute;
    top: 14.4px;
    left: 9.6px;
}

/* editor */
.editor-scroller {
    min-height: 150px;
    max-width: 100%;
    border: 0;
    display: flex;
    position: relative;
    outline: 0;
    z-index: 0;
    resize: vertical;
}

.editor {
    flex: auto;
    max-width: 100%;
    position: relative;
    resize: vertical;
    z-index: -1;
}
