[default]
DEV_MODE = true
DEBUG = true
DB_URI = 'postgresql+asyncpg://test:test@postgres:5432/pm'
PUBLIC_BASE_URL='http://localhost:3000'
JWT_SECRET = 'TESTSECRET'
ORIGINS = ['http://localhost:3000', 'http://localhost:9090']
