[default]
DEV_MODE = true
DEV_PASSWORD = 'test'
DEBUG = true
DB_URI = 'mongodb://test:test@mongo:27017/pm?authSource=admin'
PUBLIC_BASE_URL='http://localhost:3000'
JWT_SECRET = 'TESTSECRET'
ORIGINS = ['http://localhost:3000', 'http://localhost:9090']
REDIS_EVENT_BUS_URL = 'redis://redis:6379/0'
TASKS_BROKER_URL = 'amqp://test:test@rabbitmq:5672/'
WB_SYNC_ENABLED = false
FILE_STORAGE_MODE = 's3'
S3_ACCESS_KEY_ID = 'TESTMINIOACCESS'
S3_ACCESS_KEY_SECRET = 'TESTMINIOSECRET'
S3_ENDPOINT = 'http://minio:9000'
S3_PUBLIC_ENDPOINT = 'http://localhost:9000'
S3_BUCKET = 'snail-orbit'
S3_REGION = 'us-east-1'
S3_VERIFY = false
