name: project-manager
services:
  api:
    build:
      context: ..
      dockerfile: Dockerfile
      target: api
    ports:
    - "127.0.0.1:9090:9090"
    volumes:
    - "./etc:/app/etc"
    - "./data/pm:/data"
    depends_on:
      mongo:
        condition: service_healthy
  mongo:
    image: mongo:7.0
    volumes:
      - "./data/mongo:/data/db"
    environment:
      MONGO_INITDB_ROOT_USERNAME: 'test'
      MONGO_INITDB_ROOT_PASSWORD: 'test'
      MONGO_INITDB_DATABASE: 'pm'
    healthcheck:
      test: mongosh --eval "db.runCommand('ping').ok"
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 5s
  mongo-express:
    image: mongo-express:latest
    ports:
      - "127.0.0.1:8048:8081"
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: test
      ME_CONFIG_BASICAUTH_PASSWORD: test
      ME_CONFIG_MONGODB_URL: mongodb://test:test@mongo:27017
    depends_on:
      mongo:
        condition: service_healthy
